/* Padding and margins */
.percent-height-60 {
  min-height: 60svh;
}
.percent-height-65 {
  min-height: 65svh;
}
.percent-height-70 {
  max-height: 70svh;
}
.percent-height-75 {
  min-height: 75svh;
}
.percent-height-80 {
  min-height: 80svh;
}
.percent-height-85 {
  min-height: 85svh;
}
.percent-height-90 {
  min-height: 90svh;
}
.percent-height-95 {
  min-height: 95svh;
}
.percent-height-100 {
  min-height: 100svh;
}

.margin-block-100 {
  margin-block: var(--size-100);
}
.margin-block-200 {
  margin-block: var(--size-200);
}
.margin-block-300 {
  margin-block: var(--size-300);
}
.margin-block-400 {
  margin-block: var(--size-400);
}
.margin-block-500 {
  margin-block: var(--size-500);
}
.margin-block-600 {
  margin-block: var(--size-600);
}
.margin-block-700 {
  margin-block: var(--size-700);
}
.margin-block-800 {
  margin-block: var(--size-800);
}
.margin-block-900 {
  margin-block: var(--size-900);
}

.margin-before-100 {
  margin-block-start: var(--size-100);
}
.margin-before-200 {
  margin-block-start: var(--size-200);
}
.margin-before-300 {
  margin-block-start: var(--size-300);
}
.margin-before-400 {
  margin-block-start: var(--size-400);
}
.margin-before-500 {
  margin-block-start: var(--size-500);
}
.margin-before-600 {
  margin-block-start: var(--size-600);
}
.margin-before-700 {
  margin-block-start: var(--size-700);
}
.margin-before-800 {
  margin-block-start: var(--size-800);
}
.margin-before-900 {
  margin-block-start: var(--size-900);
}

.margin-after-100 {
  margin-block-end: var(--size-100);
}
.margin-after-200 {
  margin-block-end: var(--size-200);
}
.margin-after-300 {
  margin-block-end: var(--size-300);
}
.margin-after-400 {
  margin-block-end: var(--size-400);
}
.margin-after-500 {
  margin-block-end: var(--size-500);
}
.margin-after-600 {
  margin-block-end: var(--size-600);
}
.margin-after-700 {
  margin-block-end: var(--size-700);
}
.margin-after-800 {
  margin-block-end: var(--size-800);
}
.margin-after-900 {
  margin-block-end: var(--size-900);
}

.margin-after-gap {
  margin-block-end: var(--gap);
}

.padding-block-100 {
  padding-block: var(--size-100);
}
.padding-block-200 {
  padding-block: var(--size-200);
}
.padding-block-300 {
  padding-block: var(--size-300);
}
.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-600 {
  padding-block: var(--size-600);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-800 {
  padding-block: var(--size-800);
}
.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-before-100 {
  padding-block-start: var(--size-100);
}
.padding-before-200 {
  padding-block-start: var(--size-200);
}
.padding-before-300 {
  padding-block-start: var(--size-300);
}
.padding-before-400 {
  padding-block-start: var(--size-400);
}
.padding-before-500 {
  padding-block-start: var(--size-500);
}
.padding-before-600 {
  padding-block-start: var(--size-600);
}
.padding-before-700 {
  padding-block-start: var(--size-700);
}
.padding-before-800 {
  padding-block-start: var(--size-800);
}
.padding-before-900 {
  padding-block-start: var(--size-900);
}

.padding-after-100 {
  padding-block-end: var(--size-100);
}
.padding-after-200 {
  padding-block-end: var(--size-200);
}
.padding-after-300 {
  padding-block-end: var(--size-300);
}
.padding-after-400 {
  padding-block-end: var(--size-400);
}
.padding-after-500 {
  padding-block-end: var(--size-500);
}
.padding-after-600 {
  padding-block-end: var(--size-600);
}
.padding-after-700 {
  padding-block-end: var(--size-700);
}
.padding-after-800 {
  padding-block-end: var(--size-800);
}
.padding-after-900 {
  padding-block-end: var(--size-900);
}

.padding-after-gap {
  padding-block-end: var(--gap);
}
